/* GLOBAL */
body
{
        background:#ffffff;
        font-family: 'Open Sans', sans-serif;
        color:#333333;
        -webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
}

input[type=submit], button
{
    width: auto;
    padding: 5px 18px;
    line-height: 25px;
    text-shadow: none;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: rgba(255,255,255,0.87);
    background-color: rgb(117,117,117);
    border-radius: 3px;
    font-size: 14px;
    border: 0px;
}

p
{
        margin:5px 0;
        line-height:25px;
}

a
{
    text-decoration: none;
    color: inherit;
    transition: color .5s ease;
    font-weight: bold;
    font-size: 16px;
}

strong
{
        font-weight:bold;
}

figcaption strong
{
        border-bottom: 1px solid #D6D0C1;
        padding-bottom:10px;
        margin: 10px 0;
        display:block;
}

figcaption
{
        line-height: 25px;
        font-size:14px;
        width:200px;
}

hr
{
        background-color: #D6D0C1;
        border:0;
        height:1px;
        margin:20px 0;
}


/* HEADER */

#top-area{
	background: transparent url("../img/background.png") no-repeat left top;
    background-size: cover;
    background-attachment: fixed;
	position: relative;
    min-height: 750px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}

header
{
        position:relative;
        width:auto;
        max-width:900px;
        margin: 0 auto 0px auto;
        margin-top: -20px;
        padding-left: 25px;
        padding-right: 25px;
}

header h1
{
        margin:35px 0 0 0;
        font-size:55px;
        line-height: 60px;
        color:#ffffff;
		text-shadow: 1px 1px 1px #000000;
		margin-bottom: 20px;
}

header h2{
	font-size: 22px;
    line-height: 30px;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}

header p
{
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        color: #4A463B;
        margin-left:132px;
}

header .wrap{
	padding-top: 45px;
}

#logo{
	float: left;
    display: block;
    cursor: pointer;
}

#logo img{
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222);
}

nav
{
    float: right;
}

nav ul
{
	list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li
{
	display: inline;
    margin: 0 5px;
    line-height: 44px;
}

nav ul li a
{
	display: inline-block;
    color: #EAEAEA;
    padding: 3px 6px;
    transition: all 0.3s;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
	text-shadow: 1px 0px 2px #000000;
}

nav ul li a:hover
{
        color: #FFFFFF;
}

#mobileMenu
{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
}

#mobileMenu ul li
{
    display: block;
    background-color: rgba(29, 36, 56, 0.6);
    color: #FFFFFF;
    padding: 12px 0;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.toggleMobile
{
        display: none;
}

#head-content{
	padding-top: 100px;
}



/* 3 COLUMNS */

#boxcontent
{
        width:auto;
        max-width:900px;
        margin:0 auto;
        padding:70px 0 45px 0;
}

#boxcontent article
{
        float:left;
        width:250px;
        margin-right:45px;
        font-size:14px;
        text-align: center;
}

#boxcontent article h3
{
        font-family: 'Open Sans', sans-serif;
        font-size:28px;
		margin: 16px 0 16px 0;
		line-height: 34px;
}

#boxcontent .icon-container
{
	margin: auto;
    padding: 15px;
    background: rgb(200, 222, 234);
    width: 80px;
    height: 80px;
    font-size: 75px;
    border-radius: 61px;
    color: #ffffff;
    margin-bottom: 12px;
}

#boxcontent article p
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
}

#testimonials-head{
	width: 100%;
    height: 20px;
    border-bottom: 1px solid rgb(199, 199, 199);
    text-align: center;
    margin-top: 65px;
}

#testimonials-head span{
	font-size: 35px;
    line-height: 40px;
    background-color: #FFFFFF;
    padding: 0 30px;
}

#testimonials{
	margin-top: 55px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}

#testimonials i{
	color: #D8D8D8;
    font-size: 40px;
    margin: 0 10px 0 10px;
	vertical-align: text-bottom;
}

#testimonials i.fa-quote-right{
	vertical-align: text-top;
}

#testimonials .author{
	color: #ACACAC;
}

#testimonials .author img{
	vertical-align: middle;
}


/* BUTTONS */

.button
{
        padding:7px 14px;
        border: 1px solid #c3532e;
        background-image: linear-gradient(bottom, #E56038 0%, #ff8c66 100%);
        background-image: linear-gradient(to bottom, #ff8c66 0%, #E56038 100%);
        background-color: #eb653c;
        color: #EBE8DE;
        text-shadow: 1px 1px 0px #ff8155;
        text-decoration:none;
        border-radius:5px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.button:hover
{
        background:none #EBE8DE;
        border-color: #EBE8DE;
        text-shadow:none;
        color: #4A463B;
}


/* SPACER */

#spacer
{
        width:auto;
        height:70px;
        background-color:#e56038;
        position:relative;
        font-family: 'Open Sans', sans-serif;
        color:#fff;
        font-size:18px;
}

#spacer p
{
        margin-top:22px;
        width:auto;
        position:absolute;
        left:50%;
        margin-left:-450px;
}

#spacer .search
{
        margin-top:15px;
        width:auto;
        position:absolute;
        right:50%;
        margin-right:-480px;
}


/* FOUR COLUMNS */

#four_columns, #text_columns
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        clear:both;
        width:auto;
        max-width:900px;
        margin:0 auto;
}

#four_columns h2, #text_columns h3
{
        font-size:20px;
        border-bottom: 1px solid #D6D0C1;
        padding: 20px 0;
        margin-bottom: 20px;
}

#four_columns .img-item
{
        float:left;
        margin-right:25px;
}

#four_columns .img-item a
{
        position:relative;
        display:block;
}

.thumb-screen
{
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:113px;
        background: #000 url(img/zoom.png) center center no-repeat;
        z-index:99;
        opacity: 0;
        transition: opacity .5s ease;
}

.thumb-screen:hover
{
        opacity:0.5;
}


/* TWO COLUMNS */

#text_columns article.column1, #text_columns .column2
{
        margin: 70px 0;
        font-size:14px;
        float:left;
        width:auto;
        max-width: 450px;
}

#text_columns .column2
{
        margin: 120px 0;
}

.row
{
        position:relative;
        margin: 40px 0 0 50px;
        float:right;
        width:350px;
}

.row img
{
        float:left;
}

.row p
{
        margin-left: 100px;
}

.rocket, .clock
{
        top:0;
        left:0;
        position:absolute;
        height: 80px;
}

.rocket:hover
{
        opacity:0;
        transition: opacity 0.4s ease 0.2s;
        animation-name: stylie-transform-keyframes;
        animation-duration: 700ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        transform-origin: 0 0;
}

.clock:hover
{
        animation-name: stylie-transform2-keyframes;
        animation-duration: 100ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform-origin: 0 0;
}



/* FOOTER */

footer
{
        position:relative;
        clear:both;
        width:auto;
        height:350px;
		background: #F5F5F5;
		border-top: 2px solid #DDDDDC;
}

footer .wrapper
{
        line-height:25px;
        margin: 0 auto;
        padding-top:30px;
        width:auto;
        max-width:900px;
        font-size:14px;
}

footer .wrapper .column
{
        font-family: 'Open Sans', sans-serif;
        color:#ababab;
        float:left;
        width:280px;
        margin-right:20px;
}

footer .wrapper .column.midlist ul li
{
        display:block;
        width:auto;
        padding:0 0 10px 25px;
        margin-bottom:10px;
        border-bottom: 1px solid #444444;
        background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover
{
        color:#fff;
}

footer .wrapper .column.rightlist ul li
{
        display:block;
        width:auto;
        margin-bottom:15px;
}

footer .wrapper .column.rightlist ul li a span
{
        margin-left:95px;
        display:block;
}

footer .wrapper .column.rightlist ul li a img
{
        transition: border .25s ease;
        float:left;
        border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover
{
        border-color: #5e5e5e;
}

footer .wrapper .column h4
{
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #444444;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
}

footer h4{
	font-size: 22px;
}

footer .compatibility{
	text-align: center;
}

footer .footer-icons{
	margin-top: 32px;
}


footer .footer-icons span{
	padding: 20px;
}

#copyright
{
        background: #E3E3E3;
        height:70px;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
}
#copyright .wrapper
{
        font-family: 'Open Sans', sans-serif;
        padding-top:25px;
        color: #5e5e5e;
        font-size:14px;
        position:relative;
}
#copyright .wrapper .social
{
        position:absolute;
        right:0;
        top:25px;
}
#copyright .wrapper .social a
{
        transition: opacity .25s ease;
        opacity: 0.3;
        margin-left: 12px;
        display:block;
        float:left;
}
#copyright .wrapper .social a:hover
{
        opacity: 0.7;
}
#copyright .wrapper a
{
        color: #ABABAB;
}

#copyright .wrapper a:hover
{
        color: #fff;
}


/* SKIPLINK */
.go-top
{
        position: fixed;
        bottom: 2em;
        right: 2em;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        padding: 1em;
        display: none;
}

.go-top:hover
{
        background-color: rgba(0, 0, 0, 0.6);
}


/* Center the slideshow */
.container
{
        width:auto;
        margin: 0 auto;
        position:relative;
}

/* Show active item in the pagination */
.slidesjs-pagination .active
{
        color:red;
}

#slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button
{
        display:none;
        color:#000;
}


/* MISC */
.clear
{
        clear:both;
}
.hidden
{
        position:absolute;
        clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
          clip: rect(1px, 1px, 1px, 1px);
}


#download-btn-container{
    margin-top: 25px;
    padding: 5px;
    text-align: center;
}

#download-btn-container div{
    width: 330px;
    background: rgba(0, 0, 0, 0.27);
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#download-btn-container button{
    background: #00C928;
    color: #ffffff;
    height: 60px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    outline: 0;
}

/*CSS for hover menu*/

#hover-menu{
    width: 350px;
    height: 165px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #ffffff;
    color: #7B7B7B;
    font-size: 26px;
    line-height: 32px;
    padding-top: 14px;
    margin-top: 25px;
    border: 1px solid #A9A9A9;
    border-radius: 7px;
    opacity: 0;
    transition: all 0.5s;
}

#hover-menu:before{
    background-color: #FFFFFF;
    content: "\00a0";
    display: block;
    height: 42px;
    /* width: 44px; */
    position: absolute;
    top: -22px;
    left: 150px;
    transform: rotate( -54deg ) skew( -12deg );
    -moz-transform: rotate( -54deg ) skew( -12deg );
    -ms-transform: rotate( -54deg ) skew( -12deg );
    -o-transform: rotate( -54deg ) skew( -12deg );
    -webkit-transform: rotate( -54deg ) skew( -12deg );
    width: 40px;
    border-right: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
}

#hover-menu div{
    float: left;
    width: 40%;
    display: inline;
    overflow: hidden;
    text-align: left;
    padding-left: 26px;
}

#hover-menu div.left-part{
    border-right: 1px solid #CCCCCC;
    padding-right: 10px;
}

#hover-menu ul li{
    height: 30px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
}


#hover-menu h4{
    font-size: 16px;
    padding-left: 10px;
    font-weight: 500;
}


#hover-menu ul li:hover{
    background: #F5F5F5;
    border-radius: 5px;
}

#head-image{
    margin-top: 75px;
}

/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1215px)
{
        #slider_content1, #slider_content2, #slider_content3
        {
                width:auto;
                margin-right:50px;
        }
        #slider_content1 h2, #slider_content2 h2, #slider_content3 h2
        {
                font-size:18px;
        }
        #slider_content1 p, #slider_content2 p, #slider_content3 p
        {
                font-size:14px;
        }
        #slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button
        {
                display:inline;
        }
        .container .button
        {
                display:none;
        }
}

@media (max-width: 915px)
{
        #boxcontent article
        {
                float: none;
                margin: 30px auto 0 auto;
                width: 60%;
        }
        #spacer
        {
                font-size:15px;
        }
        #spacer .search
        {
                margin-top:19px;
                margin-right:-385px;
        }
        #spacer p
        {
                margin-left:-370px;
        }
        input
        {
                padding:4px;
                font-size:14px;
        }
        input[type="submit"]
        {
                padding: 1px 14px;
        }

        #boxcontent
        {
            padding:30px 0 30px 0;
        }

        #testimonials{
            padding: 10px;
        }

        #testimonials-head span {
            font-size: 22px;
        }

        #testimonials i {
            font-size: 16px;
        }

        #four_columns
        {
                width: 500px;
        }
        #four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4)
        {
                margin-top: 25px;
        }
        #text_columns article.column1, #text_columns .column2
        {
                float:none;
                max-width: 500px;
                margin: 50px 30px 0 30px;
        }
        .column2 .row
        {
                float:none;
                margin:0 0 40px 50px;
        }
        footer .wrapper .column
        {
                font-size: 12px;
                width: 230px;
        }

        #copyright{
            text-align: center;
        }
}

@media (max-width: 765px)
{
        .container
        {
                height:1px;
                top: -1500px;
        }

        #top-area{
            min-height: 550px;
        }

        header
        {
                height:120px;
        }
        header nav
        {
                right: auto;
                bottom: auto;
                left: 50%;
                top:100px;
                margin-left: -184px;
        }



        #head-image{
            display: none;
        }

        #spacer
        {
                height:100px;
        }
        #spacer p
        {
                text-align:center;
                position:static;
                margin: 0 auto;
                padding:15px 0 7px 0;
        }

        #testimonials-head span {
            font-size: 18px;
        }


        footer
        {
                padding-bottom:70px;
                height: auto;
        }
        footer .wrapper
        {
                width: 350px;
                margin: 0 auto;
        }
        footer .wrapper .column
        {
                margin-top:30px;
                float:none;
                font-size: 14px;
                width: auto;
        }
        footer .wrapper .social
        {
                display:none;
        }
}

@media (max-width: 500px)
{
        header
        {
            text-align: center;
        }        
        #spacer
        {
                height:auto;
                padding-bottom:15px;
        }
        #four_columns
        {
                width:auto;
        }
        #four_columns .img-item
        {
                width: 200px;
                float:none;
                margin: 25px auto 0 auto;
        }
        #four_columns h2
        {
                margin: 0 30px;
        }
        .column2 .row
        {
                margin: 0 0 40px 10px;
                width:auto;
        }

        #testimonials-head span {
            font-size: 16px;
        }


        footer .wrapper
        {
                width:auto;
        }
        footer .wrapper .column
        {
                margin: 0 auto 15px auto;
                max-width:300px;
        }
        input
        {
                width:auto;
        }
        #mobileMenu
        {
                display: block;
                z-index: 99;
        }
        .toggleMobile
        {
                position: fixed;
                top: 35px;
    			right: 24px;
                display: block;
                width: 40px;
                height: 36px;
                cursor: pointer;
                z-index: 999;
        }
        .toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3
        {
                display: block;
                position: absolute;
                width: 40px;
                height: 8px;
                left: 0;
                    background: rgba(255, 255, 255, 0.75);
                    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                    transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                    border: 1px solid rgba(52, 125, 81, 0.5);
        }
        .toggleMobile span.menu1
        {
                top: 0;
        }
        .toggleMobile span.menu2
        {
                top: 14px;
        }
        .toggleMobile span.menu3
        {
                top: 28px;
        }
        .toggleMobile.active span.menu1
        {
                top: 14px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        .toggleMobile.active span.menu2
        {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        .toggleMobile.active span.menu3
        {
                opacity: 0;
                -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        header nav
        {
                display:none;
        }
        header h1
        {
                font-size:40px;
        }
        header p
        {
                margin-left: 60px;
                font-size:14px;
        }
}

/*CSS for KANBAN*/

#kanban-container{
    text-align: center;
    padding-top: 60px;
}

.kanban-column {
    width: 200px;
    min-height: 850px;
    background: #FBFBFB;
    display: inline-block;
    box-shadow: 0px 0px 5px #848484;
    margin-right: 12px;
    box-sizing: content-box;
    padding-bottom: 10px;
    /*overflow: hidden;*/
    vertical-align: top;
    transition: all 1s;
}

.kanban-column h3{
    color: #ffffff;
    padding: 12px 0;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 2px black;
    background: #607D8B;
}

.kanban-column.concept h3{
    background: #607D8B;
}

.kanban-column.pending h3{
    background: #546E7A;
}

.kanban-column.develop h3{
    background: #455A64;
}

.kanban-column.approved h3{
    background: #37474F;
}

.kanban-column.rejected h3{
    background: #EF5350;
}

.kanban-column .cards-container{
    padding: 0 10px;
}

.kanban-column .cards-container .card{
    width: 100%;
    margin-top: 13px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35),0 1px 0px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    box-sizing: border-box;
    background: #FFFFFF;
    padding: 0 0 10px 0px;
    opacity: 1;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    max-height: 60px;
    height: auto;
    transition: max-height 1s;
}

.kanban-column .cards-container .card.expanded{
    max-height: 1000px;   
}

.card .type{
    color: #BDBDBD;
}

.card.bug{
    border-left: 5px solid #FF5722;
}

.card.issue{
    border-left: 5px solid #1B5E20;
}

.card.feature{
    border-left: 5px solid #0097A7;
}

.card.requirement{
    border-left: 5px solid #F50057;
}

.kanban-column .cards-container .card .cover-img{
    width: 100%;
    max-height: 75px;
}

.card h4{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.card .description{
    font-size: 13px;
    padding: 0 15px;
}

.form-contain{
    margin-bottom: 40px;
}

[ng-drag]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    ul.draggable-objects:after{
        display: block;
        content:"";
        clear:both;
    }
   
    [ng-drop].drag-enter{
        border: 1px dashed #C7C7C7;
        background: #E2E2E2;
    }

input {
    border: 0;
    border-bottom: 1px solid #CECECE;
    padding: 10px;
    font-size: 18px;
    outline: none;
    /* margin-bottom: -15px; */
}

select {
    outline: none;
    border: none;
    background: #FFFFFF;
    font-size: 18px;
    color: #B8B8B8;
}

.more-section{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #0097A7;
    transition: color .5s ease;
    font-weight: bold;
    font-size: 10px;
    cursor: -webkit-grab;
}

.export-container{
    margin-bottom: 40px;
}
    