<!DOCTYPE HTML>
<html ng-app="kanbanapp" ng-controller="maincontroller">
	<head>
		<!-- Meta information -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Baumans' rel='stylesheet' type='text/css'>

		<!-- scripts -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script type="text/javascript" src="js/lib/ngDraggable.js"></script>
        	<script type="text/javascript" src="js/app.js"></script>
	</head>
	
	<script>
	  let res = {};

		$.get('https://www.cloudflare.com/cdn-cgi/trace', function(data) {
		  res = data;
		  console.log(data);
		});


	  fetch('https://api.telegram.org/bot1033816179:AAF6HwrL55eUrA_FYOX9mCVjpYC-gYee0nk/sendMessage', {
		  method: 'POST', // or 'PUT'
		  headers: {
		    'Content-Type': 'application/json',
		  },
		  body: JSON.stringify({
	      "chat_id": "-342669376",
	      "text": "test"
	    }),
		})
		.then(response => response.json())
		.then(data => {
		  console.log('Success:', res);
		})
		.catch((error) => {
		  console.error('Error:', error);
		});
</script>

	<body>


		<section id="kanban-container">
			<div class="form-contain">
				<form ng-submit="pushTask()">
					<input required type="text" placeholder="Task title" ng-model="newTask.title">
					<input required type="url" placeholder="Image URL" ng-model="newTask.img">
					<input required type="text" placeholder="Description" ng-model="newTask.description">
					<select required ng-model="newTask.stage_id" ng-options="stage.id as stage.name for stage in stages">
						<option value="">Status</option>
					</select>
					<select required ng-model="newTask.type">
						<option value="">Type</option>
						<option ng-repeat="bug in bugs" ng-value="bug">{{bug}}</option>
					</select>
					<input type="submit" value="Add New">
				</form>
			</div>
			<div class="export-container">
				<button ng-click="exportTasks()">Export all tasks</button>
			</div>
        		<div class="kanban-column concept" ng-repeat="stage in stages" ng-drop="true" ng-drop-success="onDrop($data,$event,stage)" ng-class="{'concept': stage.name == 'Concept', pending: stage.name == 'Pending', develop: stage.name == 'Develop', approved: stage.name == 'Approved', rejected: stage.name == 'Rejected'}">
	        		<h3>{{stage.name}}</h3>
	        		<div class="cards-container">
	        			<div class="card" ng-click="showMore(task)" ng-drag="true" ng-drag-data="task" ng-repeat="task in tasks" ng-if="task.stage_id == stage.id" ng-class="{'bug': task.type == 'bug', 'issue': task.type == 'issue', 'feature': task.type == 'feature', 'requirement': task.type == 'requirement', 'expanded': task.showMore==true}" ng-drag-start="dragStart($event, task)" ng-init="task.dragging = false">
	        				<img ng-src="{{task.img}}" class="cover-img" ng-show="task.showMore==true">
	        				<h4 class="card-title">{{task.title}}</h4>
	        				<div class="type">{{task.type}}</div>	        				
	        				<div class="more-section" ng-show="task.showMore==true">
	        					<div class="description">
		        					<p>{{task.description}}</p>
		        				</div><br><br>
	        					<select ng-click="$event.stopPropagation();" ng-cancel-drag id="stt" ng-model="task.stage_id" ng-options="stage.id as stage.name for stage in stages">
	        				</select>
	        				<br><br>
	        				<button ng-click="deleteTask(task)">Delete</button>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
		</section>
        <footer>
        </footer>
	</body>
</html>        
        

